.content-wrapper {
    text-align: center;
}

.table-content {
    display: inline-block;
    text-align: center;
    width: 850px;
}

.table-content table {
    display: inline-block;
}

.table-content th, .table-content td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 160px;
}

.table-content tr:nth-child(even) {
    background-color: unset;
}

.table-content .active {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.table-content .no-active {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.table-content button {
    padding: 5px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-content .active button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.table-content .active button:hover,
.table-content .active button:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.table-content .no-active button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.table-content .no-active button:hover,
.table-content .no-active button:focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}